.u-center {
	display: table !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.u-text-center {
	text-align: center !important;
}

.u-left {
	float: left !important;
}

.u-right {
	float: right !important;
}

.u-center-text {
	text-align: center !important;
}

.u-left-text {
	text-align: left !important;
}

.u-right-text {
    text-align: right !important;
}

.u-padding{
    padding: 1rem !important; 
}

.u-no-padding {
    padding: 0 !important;
}

.u-no-padding-phab{
    @media(max-width: $break-phablet){
        padding: 0 !important;
    }
}

.u-visually-hidden {
  	visibility: hidden;
}

.u-overflow-visible {
	overflow: visible !important;
}

.u-body-no-scroll {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.u-screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.u-no-margin{
    margin: 0 !important;
}

.u-no-margin-phablet{
    @media(max-width: $break-phablet){
        margin: 0 !important;
    }
}

.u-no-margin-bottom{
    margin-bottom: 0 !important;
}

.u-no-margin-top{
    margin-top: 0 !important;
}

.u-negative-margin {
	margin-right: -$layout-padding;
	margin-left: -$layout-padding;
	width: auto;

    @media(max-width: $break-tablet) {
        margin-right: 0;
        margin-left: 0;
    }
}

.u-negative-margin--all{
    margin: -$layout-padding;
}

.u-negative-margin-tablet {
  @include mq( $until: tablet ) {
    margin-right: -$layout-padding / 2;
    margin-left: -$layout-padding / 2;
    width: auto;
  }
}

.u-margin{
    margin: .5rem;
}

.u-margin-bottom{
    margin-bottom: 1rem;
}

.u-negative-margin-phablet {
  @include mq( $until: phablet ) {
    margin-right: -$layout-padding ;
    margin-left: -$layout-padding;
    width: auto;
  }
}

.u-hide {
  display: none!important;
}

.u-font-light{
    @include site-font-light;
}

@include mq($until: wide) {
    .u-hide-wide{
        display: none !important;
    }
}

.u-show {
  display: block!important;
}

.u-no-font{
    font-size: 0;
}

.u-text-white{
    color: $white !important;
}

.u-text-upper{
	text-transform: uppercase!important;
}

.u-flex-tablet{
    @include mq( $until: tablet ) {
        display: flex;
        flex-direction: column;
    }
}

@include mq($until: desktop) {
    .u-hide-desktop {
        display: none;
    }
}

@include mq($from: desktop) {
    .u-show-desktop {
        display: none;
    }
}

@include mq($until: tablet) {
    .u-body-no-scroll {
    	position: fixed;
    }
    .u-hide-tablet {
        display: none;
    }
    .u-display-tablet {
        display: inline-block!important;
    }
}

@include mq($from: tablet) {
    .u-show-tablet {
        display: none!important;
    }
}

@include mq($until: phablet) {
    .u-hide-phablet {
        display: none !important;
    }
}

@include mq($from: phablet) {
    .u-show-phablet {
        display: none !important;
    }
}

@include mq($until: desktop) {
    .u-hide-desktop {
        display: none !important;
    }
}

@include mq($from: mobile) {
    .u-show-mobile {
        display: none;
    }
}

@include mq($until: mobile) {
    .u-hide-mobile {
        display: none;
    }
}
