<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>
        <div class="container table-responsive" style="border-block: 10px;">
                <hr>
            <div class="row" style="align-items:center;">
                <h4>Captain & Bench Submission Form</h4>
            </div>
            <hr>
            <div class="row">
                <a href= "https://docs.google.com/forms/d/e/1FAIpQLScc8-Z7DWLaxu6EQdE4OIwty_QFeeW9ngz0KDn0jOBlQrPj2Q/viewform">Captain & Bench Submission Form</a>
            </div>
            <hr>
            <div class="row">
            <p style="height:15%;">Please enter your Team Password as provided to your Manager while making a submission</p>
        </div>
            
            <div style="height:15%;"class = "bg-info"><br></div>
            <div>
            <p style="height:15%">Dive to Facebook FFF League Page</p>
            <a href= "https://www.facebook.com/groups/FeverFantasyLeague/">Facebook</a>
        
        </div>
        
        </div>

        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>