<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>
        <div class="container table-responsive" style="border-block: 10px;">
                <hr>
            Content loaded successfully!!!
        </div>

        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>